body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.App {
  height: 100vh;
  width: 100vw;
  /* padding: 10px auto; */
  margin: 0 auto;
  text-align: center;
  font-family: "VT323", monospace;
  align-items: center;
}

.Intro {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "nav image nav"
    "nav image nav"
    "nav text nav"
    "nav create nav";
  background-color: black;
  color: rgb(254, 241, 241);
  height:100vh;
  width: 100vw;

}

.Intro-img {
  grid-area: "image";
  height: 60vh;
}

.Intro-text {
  grid-area: "text";
  margin: 0 auto;
  width: 80%;
  font-size: 70px;
  height: 30%;
}

span {
  color: rgb(154, 16, 16);
}

.Create-button {
  text-decoration: none;
  font-family: inherit;
  background-color: black;
  color: greenyellow;
  font-size: 150px;
  margin: 10px auto;
}

.Create-button:hover {
  color: red;
  background-color: greenyellow;
}

header {
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-size: 35px;
  display: flex;
  grid-area: "header";
  background-image: url("assets/worn-metal-texture.jpg");
  color: rgb(255, 255, 255);
  text-shadow: 4px 2px rgb(255, 0, 0);
}

.Create-div {
  width: 1000px;
  height: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header header header header"
    "monster monster stat stat"
    "footer footer footer footer";
  color: rgba(50, 25, 6, 0.6);
  font-size: 40px;
  background-image: url("assets/dark-lab-background.jpg");
  text-align: center;
  font-family: "VT323", monospace;
}

.Back {
  color: greenyellow;
}

.Back:hover {
  color: purple;
  background-color: greenyellow;
}

.Monster-div {
  grid-area: "monster";
}

.Monster-name,
.Monster-stats {
  margin: 25px auto;
  font-size: 50px;
  background-image: url("assets/metal-texture.png");
  border-radius: 5%;
}

.Monster-portrait {
  margin: 20px auto;
  width: 500px;
  height: 500px;
  border-radius: 5%;
  border: solid rgba(165, 42, 42, 0.62) 1px;
  box-shadow: rgba(139, 255, 23, 0.264) 5px 2px;
}

.Monster-entry {
  font-family: "VT323", monospace;
  width: 300px;
  margin: 20px auto;
  font-size: 50px;
  max-width: 300px;
}

.Mutations {
  grid-area: "stat";
  margin: 0 auto;
  border-radius: 10%;
  border: solid brown 1px;
  box-shadow: rgb(139, 255, 23) 5px 2px;
}

.Mutation-text {
  background-image: url("assets/rusty-red-metal.jpeg");
  width: 80%;
  max-width: 80%;
  border-radius: 15%;
  margin: 5px auto;
  font-size: 40px;
  height: 150px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 3px rgb(75, 195, 45);
}

.Mutation-button {
  box-shadow: black 5px 2px;
  color: rgb(226, 255, 154);
  margin: 0 auto;
  font-size: 50px;
  border-radius: 20%;
  font-family: "VT323", monospace;
  background-image: url("assets/dark-slime.png");
}

.Mutation-button:hover {
  background-image: url("assets/slime.png");
  box-shadow: rgb(136, 191, 53) 2px 2px;
}

.Stat-text {
  padding: 0;
  margin: 0 auto;
  font-size: 50px;
}

@media screen and (max-width: 1023px) {
  .Intro {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
  }

  nav {
    grid-area: "nav";
    display: grid;
    height: 100%;
  }

  .Intro-text {
    grid-area: "text";
    width: 80%;
    max-width: 80%;
    height: 50%;
    max-height: 50%;
    margin: 0 auto;
    font-size: 50px;
  }

  .Intro-img {
    grid-area: "image";
  }

  .Create-button {
    color: greenyellow;
    text-decoration: none;
    font-size: 250px;
  }

  .Create-div {
    padding: 20px auto;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
  
  .Back:hover {
    color: purple;
    background-color: greenyellow;
  }
  
  .Monster-div {
    grid-area: "monster";
  }
  
  .Monster-name,
  .Monster-stats {
    margin: 25px auto;
    font-size: 40px;
  }
  
  .Monster-portrait {
    margin: 20px auto;
    width: 500px;
    height: 500px;
    border-radius: 5%;
    border: solid brown 1px;
    box-shadow: chartreuse 5px 2px;
  }
  
  .Monster-entry {
    font-family: "VT323", monospace;
    width: 300px;
    margin: 20px auto;
    font-size: 50px;
    max-width: 300px;
  }
  
  .Mutations {
    grid-area: "stat";
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: black 5px 2px;
  }
  
  .Mutation-text {
    background-image: url("assets/rusty-red-metal.jpeg");
    width: 80%;
    border-radius: 15%;
    margin: 5px auto;
    font-size: 30px;
    height: 150px;
  }
  
  .Mutation-button {
    margin: 0 auto;
    font-size: 50px;
    border-radius: 20%;
    font-family: "VT323", monospace;
    background-image: url("assets/dark-slime.png");
  }
  
  .Mutation-button:hover {
    background-image: url("assets/slime.png");
    box-shadow: rgb(136, 191, 53) 2px 2px;
  }
  
  .Stat-text {
    padding: 0;
    margin: 0 auto;
    font-size: 50px;
  }
  



}


@media screen and (max-width: 520px) {
  .Intro {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
  }

  nav {
    grid-area: "nav";
    display: grid;
    height: 100%;
  }

  .Intro-text {
    grid-area: "text";
    width: 80%;
    max-width: 80%;
    height: 50%;
    max-height: 50%;
    margin: 0 auto;
    font-size: 30px;
  }

  .Intro-img {
    grid-area: "image";
    height: 300px;
    max-height: 300px;
  }

  .Create-button {
    color: greenyellow;
    text-decoration: none;
    font-size: 70px;
  }




}
